---
---

//
// IMPORTS
//

@import "reset";

body {
    background: darkgray;
}

body, container {
	min-heights: 100vh;
}

.container {
    padding: 1em;
    max-width: 75%;
    margin: 0 auto;
}

header div {
    margin: 0.5em;
}

.site-name {
	font-variant: small-caps;
    font-weight: bold;
	font-size: 2rem;
	
	a {
		text-decoration: none;
	}
}

.site-tagline {
	font-style: italic;
    font-weight: bold;
    font-size: larger;
}

article {    
    background: white;    
    padding: 2em;
    border-radius: 35px;
}

.product-images img {
    max-width: 250px;
    max-height: 250px;
    margin: 0 5px;
}