<!DOCTYPE html>
<html lang="en-us">
	<head itemscope itemtype="http://schema.org/WebSite">
		<title itemprop='name'>{{ site.name }}{% if page.title %} for {{ page.title }}{% endif %}</title>
{% include metadata/meta.html %}

		<link rel="stylesheet" type="text/css" href="/style.css" />

		<!--[if lt IE 9]><script src="https://origin2.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

		<!-- link href="/favicon.ico?" rel="shortcut icon" type="image/x-icon" / -->
{% include google/analytics.html %}
	</head>
	<body itemscope itemtype="http://schema.org/BlogPosting">
		<div class="container">
{% include header.html %}
		<article>
{{ content }}
		</article>
{% include footer.html %}
		</div>
	</body>
</html>
