<!DOCTYPE html>
<html lang="en-us">
	<head itemscope itemtype="http://schema.org/WebSite">
		<title itemprop='name'>{{ site.name }}</title>
		{% if page.noindex or layout.noindex %}<meta name="robots" content="noindex" />{% endif %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!--[if lt IE 9]><script src="https://origin2.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

		<link href="/favicon.ico?" rel="shortcut icon" type="image/x-icon" />
	</head>
	<body itemscope itemtype="http://schema.org/BlogPosting">
		<div class="container">
{% include header.html %}
		<div id="main" role="main">
{{ content }}
		</div>
{% include footer.html %}
		</div>
	</body>
</html>
